* text=auto eol=lf
*.pdf binary
*.png binary
*.jpg binary
*.gz binary
*.zst binary
*.tar binary
*.npy binary
*.npz binary
*.pt binary
*.ckpt binary
*.blend binary
*.sh text eol=lf
tools/githooks/commit-msg text eol=lf
tools/githooks/pre-commit text eol=lf
tools/githooks/pre-merge-commit text eol=lf
tools/githooks/pre-push text eol=lf
